name: CD
on:
  push:
    branches: [ main ]

env:
  REGISTRY: ghcr.io/${{ github.repository_owner }}
  REGISTRY_URL: ghcr.io         # se añade esta línea
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - name: frontend
            context: ./uco-challenge-frontend
            dockerfile: Dockerfile.frontend
          - name: api-gateway
            context: ./api-gateway
            dockerfile: Dockerfile.spring
          # ... demás servicios
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push ${{ matrix.service.name }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.service.context }}
          file: ${{ matrix.service.dockerfile }}
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ matrix.service.name }}:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY }}/${{ matrix.service.name }}:latest
